body {
  /*width: 100%;*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*overflow: hidden;*/
  background-color: #333;
}
/*canvas {
  display: block;
  cursor: none;
}*/
#beer-run {
  border: 2px solid white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
