canvas {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  canvas {
    margin: 0 auto;
    width: 100vw !important;
    height: 100vh !important;
  }
}

body {
  background-color: #2b2b2b;
  font-family: 'helvetica', sans-serif;
  color: white;
}

h1 {
  color: white;
  margin: block;
  margin-left: 11%;
}

img {
  margin-left: 10%;
  display: block;
}

